mat-toolbar {
  justify-content: space-between;
}
.content {
  padding: 16px;
}
.content > mat-card {
  margin-bottom: 16px;
}

.card {
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
  transition: all 0.5s ease; /* back to normal */
}

.card:hover {
    transform: translate3D(0,-1px,0) scale(1.03);

}
