/* You can add global styles to this file, and also import other style files */
//variables
$background: #252527;


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color:   $background;
}

body::-webkit-scrollbar {
    width: 5px;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #2e2c2c;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
