<!-- <mat-toolbar color="primary">
  <span>Card view demo</span>
  <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
    <span *ngIf="gridColumns === 4">Three Columns</span>
    <span *ngIf="gridColumns === 3">Four Columns</span>
  </button>
</mat-toolbar> -->
<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div [fxFlex]="20 + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4 card">
          <mat-card-header>
            <mat-card-title>Dog Breed Classifier</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://st2.depositphotos.com/4317479/6466/i/450/depositphotos_64663851-stock-photo-man-standing-on-a-mountain.jpg">
          <mat-card-content>
            <p>
              The project is part of my Udacity Nanodegree
            </p>
          </mat-card-content>
          <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions> -->
        </mat-card>
      </div>
    </div>
  </div>